S&P500 stock data:
http://pages.swcp.com/stocks/


n = pd.read_csv('http://chart.finance.yahoo.com/table.csv?s=ACIU&a=7&b=9&c=1996&d=10&e=19&f=2016&g=d&ignore=.csv')

http://www.eoddata.com/download.aspx

In [386]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Table
from sqlalchemy import create_engine, inspect
from sqlalchemy import MetaData
from edgerdb import helper_functions as hlp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os


meta = MetaData()

engine = create_engine('postgresql://analyst:@localhost:5432/edgar')

messages = Table('filings', meta, autoload=True, autoload_with=engine)

def sql_to_df(query, connection):
    df = pd.read_sql(query, connection)
    connection.close()
    return df

In [387]:
%matplotlib inline

In [2]:
cik_and_tickers = sql_to_df('select * from temp_cik_to_ticker;', engine.connect()).set_index(keys='index')

In [3]:
cik_and_tickers.head()

,cik,company_name,exchange,isactive,symbol
index,,,,,
0,1591890,"1347 PROPERTY INSURANCE HOLDINGS, INC.",NASDAQ,1,PIH
1,1508475,"21VIANET GROUP, INC.",NASDAQ,1,VNET
2,1459417,"2U, INC.",NASDAQ,1,TWOU
3,1295484,"51JOB, INC.",NASDAQ,1,JOBS
4,1295484,"51JOB, INC.",NASDAQ,1,JOBS

In [4]:
tickers = cik_and_tickers['symbol'].tolist()

In [57]:
import requests
from yahoo_finance import Share
from pprint import pprint

In [58]:
yahoo = Share('YHOO')
print(yahoo.get_open())
print(yahoo.get_price())
pprint(yahoo.get_historical('2014-04-25', '2014-04-29'))

None
41.45
[{'Adj_Close': '35.830002',
  'Close': '35.830002',
  'Date': '2014-04-29',
  'High': '35.889999',
  'Low': '34.119999',
  'Open': '34.369999',
  'Symbol': 'YHOO',
  'Volume': '28736000'},
 {'Adj_Close': '33.990002',
  'Close': '33.990002',
  'Date': '2014-04-28',
  'High': '35.00',
  'Low': '33.650002',
  'Open': '34.669998',
  'Symbol': 'YHOO',
  'Volume': '31019200'},
 {'Adj_Close': '34.48',
  'Close': '34.48',
  'Date': '2014-04-25',
  'High': '35.099998',
  'Low': '34.290001',
  'Open': '35.029999',
  'Symbol': 'YHOO',
  'Volume': '19401600'}]

In [97]:
# Columns will need to be added to top of file after download
sp500 = pd.read_csv('data/sp500hst.txt')

In [99]:
len(sp500['symbol'].unique())

524

In [191]:
tickers[0:10]

['PIH',
 'VNET',
 'TWOU',
 'JOBS',
 'JOBS',
 'CAFD',
 'ABEO',
 'ABEOW',
 'ABIL',
 'ACIU']

In [268]:
r2016 = pd.read_csv('data/5_YEAR_NASDAQ/NASDAQ_20160101.csv')

In [270]:
print(len(r2016['Symbol'].tolist()))
print(len(set(r2016['Symbol'].tolist() + tickers)))

2812
13534

In [288]:
def in_both(first_li, second_li):
    both = []
    for x in second_li:
        if x in first_li:
            both.append(x)
    return both


def find_csv_files_in_dir(directory):
    paths = []
    for subdir, dirs, files in os.walk(directory):
        for file in files:
            filepath = subdir + os.sep + file
            if filepath.endswith(".csv"):
                paths.append(filepath)
    return paths


def concat_eod_data(list_of_paths):
    '''
        This functions takes as input a list of paths to csv files containg eod stock data and join the files
        into a single dataframe.
    '''
    df = pd.DataFrame(columns=['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume'])
    for path in list_of_paths:
        temp_df = pd.read_csv(path)
        df = pd.concat([df, temp_df])
    return df

In [507]:
months = {'Jan': '01', 
          'Feb': '02', 
          'Mar': '03', 
          'Apr': '04', 
          'May': '05', 
          'Jun': '06',
          'Jul': '07',
          'Aug': '08', 
          'Sep': '09', 
          'Oct': '10',
          'Nov': '11', 
          'Dec': '12'}

five_year_nasdaq_files = find_csv_files_in_dir('data/5_YEAR_NASDAQ')
five_year_nasdaq_df = concat_eod_data(five_year_nasdaq_files)
five_year_nasdaq_df['Date'] = five_year_nasdaq_df['Date'].apply(lambda x: x.replace(x[3:6], months[x[3:6]]))
five_year_nasdaq_df['Date'] = five_year_nasdaq_df['Date'].apply(lambda x: x.split('-')[2] + x.split('-')[1] + x.split('-')[0])

In [546]:

five_year_nasdaq_df.head()

  Symbol      Date     Open     High      Low    Close    Volume
0   AAME  20110103   2.0600   2.0600   2.0600   2.0600      1400
1   AAON  20110103   8.4622   8.6163   8.4503   8.5955    103000
2   AAPL  20110103  46.5200  47.1800  46.4057  47.0814  15897200
3   AAWW  20110103  56.1200  57.0900  55.7900  55.8600    250400
4   AAXJ  20110103  64.6000  64.8200  64.5000  64.5800    181600

In [ ]:
tickers_in_df = five_year_nasdaq_df['Symbol'].unique().tolist()
tickers_in_both = in_both(tickers_in_df, tickers)
tickers_cik_in_both = cik_and_tickers[cik_and_tickers['symbol'].isin(tickers_in_both)]

In [356]:
filings = sql_to_df('select * from filings where cik in {};'.format(tuple(tickers_cik_in_both['cik'])), engine.connect())

In [358]:
len(filings)

1297972

In [ ]:
tickers_cik = pd.DataFrame(tickers_cik_in_both, columns=['cik', 'symbol'])
symbol_to_filings = pd.merge(left=filings, right=tickers_cik[tickers_cik['cik'].isin(
            tickers_cik['cik'].unique())], left_on='cik', right_on='cik')
symbol_to_filings = pd.DataFrame(symbol_to_filings, columns=['cik', 'symbol', 'company_name', 'type', 'date', 'path'])

In [389]:
symbol_to_filings.head()

,cik,symbol,company_name,type,date,path
0,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,20-F,20081212,edgar/data/1357450/0001204459-08-002410.txt
1,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,424B4,20070814,edgar/data/1357450/0001144204-07-042666.txt
2,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,425,20060403,edgar/data/1357450/0001144204-06-013505.txt
3,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,6-K,20080129,edgar/data/1357450/0001144204-08-004735.txt
4,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,6-K,20080220,edgar/data/1357450/0001144204-08-010616.txt

In [ ]:
def symbol_to_path(symbol, base_dir="data"):
    """Return CSV file path given ticker symbol."""
    return os.path.join(base_dir, "{}.csv".format(str(symbol)))


def get_data(symbols, dates):
    """Read stock data (adjusted close) for given symbols from CSV files."""
    df = pd.DataFrame(index=dates)
    if 'SPY' not in symbols:  # add SPY for reference, if absent
        symbols.insert(0, 'SPY')
    count = 0
    for symbol in symbols:
        # TODO: Read and join data for each symbol
        path = symbol_to_path(symbol)
        temp_df = pd.read_csv(path, index_col='Date', 
                             parse_dates=True, usecols=['Date', 'Adj Close'], na_values=['nan'])
        temp_df = temp_df.rename(columns={'Adj Close': symbol})
        df = df.join(temp_df)
        if symbol == 'SPY':
            df = df.dropna()
    return df


def plot_data(df, title='Stock Prices', ylabel="Price", xlabel="Date"):
    """Plot stock prices with a custom title and meaningful axis labels."""
    ax = df.plot(title=title, fontsize=12)
    ax.set_xlabel(xlabel)
    ax.set_ylabel(ylabel)
    plt.show()
    
    
def test_run():
    # Read data
    dates = pd.date_range('2012-01-01', '2012-12-31')
    symbols = ['SPY']
    df = get_data(symbols, dates)
    
    # Plot SPY data, retain matplotlib axis object
    ax = df['SPY'].plot(title='SPY rolling mean', label='SPY')
    
    # Compute the rolling mean using a 20 day window
    rm_SPY = pd.rolling_mean(df['SPY'], window=20)
    
    # Add rolling mean to same plot
    rm_SPY.plot(label='Rolling mean', ax=ax)
    
    # Add axis labels and legend
    ax.set_xlabel('Date')
    ax.set_ylabel('Price')
    ax.legend(loc='upper left')
    plt.show()
    
    
    
if __name__ == "__main__":
    test_run()

In [544]:
t = pd.DataFrame(five_year_nasdaq_df[five_year_nasdaq_df['Symbol'] == 'AAPL'].sort_values(by=['Date'], ascending=True))
#t['Date'] = t['Date'].apply(lambda x: x.replace(x[3:6], months[x[3:6]]))
t['Date'] = t['Date'].apply(lambda x: x.split('-')[2] + x.split('-')[1] + x.split('-')[0])
#t['Date'] = t['Date'].apply(lambda x: x.replace('-', ''))
# csi_stock_data['company_name'] = csi_stock_data['company_name'].str.upper()

In [545]:
t

   Symbol      Date      Open      High       Low     Close    Volume
2    AAPL  20130101   76.0243   76.0243   76.0243   76.0243         0
4    AAPL  20140101   80.1457   80.1457   80.1457   80.1457         0
4    AAPL  20150101  110.3800  110.3800  110.3800  110.3800         0
6    AAPL  20160101  105.2600  105.2600  105.2600  105.2600         0
2    AAPL  20110201   48.7571   49.3786   48.7114   49.2900  15236800
2    AAPL  20120201   65.4871   65.5700   65.0786   65.1700   9644300
2    AAPL  20130201   65.5886   65.6400   64.0500   64.8029  19266700
6    AAPL  20160201   96.4700   96.7100   95.4000   96.4300  40943500
2    AAPL  20110301   50.7814   50.8171   49.6686   49.9014  16290300
2    AAPL  20120301   78.2857   78.3157   76.9671   77.7814  24401800
2    AAPL  20130301   62.5714   62.5971   61.4257   61.4957  19730200
6    AAPL  20160301   97.6500  100.7700   97.4200  100.5300  50407100
2    AAPL  20110401   50.1571   50.2271   49.0429   49.2229  14952200
2    AAPL  20130401   63.1643   63.3857   61.1057   61.2729  13918900
4    AAPL  20140401   76.8229   77.4100   76.6814   77.3786   7169900
4    AAPL  20150401  124.8200  125.1200  123.1000  124.2500  40621400
6    AAPL  20160401  108.7800  110.0000  108.2000  109.9900  25873900
2    AAPL  20120501   83.5571   85.2514   83.0329   83.1614  21821300
2    AAPL  20130501   63.4943   63.5614   62.0557   62.7557  18112600
4    AAPL  20140501   84.5714   84.9714   83.7657   84.4971   8721700
5    AAPL  20150501  126.1000  130.1300  125.3000  128.9500  58512600
2    AAPL  20110601   49.8386   50.3043   49.2357   49.3586  19810000
2    AAPL  20120601   81.3086   81.8071   80.0743   80.1414  18606400
5    AAPL  20150601  131.2000  131.3900  130.0500  130.5400  32112700
6    AAPL  20160601   99.0200   99.5400   98.3300   98.4600  29173200
2    AAPL  20110701   47.9929   49.0714   47.7429   49.0371  15546800
2    AAPL  20130701   57.5271   58.8957   57.3171   58.4600  13970400
4    AAPL  20140701   93.5200   94.0700   93.1300   93.5200  38223400
5    AAPL  20150701  126.9000  126.9400  125.9900  126.6000  30238800
6    AAPL  20160701   95.4900   96.4600   95.3300   95.8900  26026500
..    ...       ...       ...       ...       ...       ...       ...
6    AAPL  20151230  108.5800  108.7000  107.1800  107.3200  25213700
2    AAPL  20110131   47.9714   48.5771   47.7571   48.4743  13473000
2    AAPL  20120131   65.1071   65.4629   64.7243   65.2114  13996800
2    AAPL  20130131   65.2829   65.6114   64.9971   65.0700  11404700
4    AAPL  20140131   70.7500   71.6471   70.5071   71.5143  16619400
2    AAPL  20110331   49.4714   49.9714   49.4371   49.7871   9798800
4    AAPL  20140331   77.0329   77.2586   76.5614   76.6771   6023800
4    AAPL  20150331  126.0900  126.4900  124.3600  124.4300  42090500
6    AAPL  20160331  109.7200  109.9000  108.8800  108.9900  25888400
2    AAPL  20110531   48.7157   49.6900   48.7143   49.6900  14919100
2    AAPL  20120531   82.9629   83.0714   81.6371   82.5329  17568200
2    AAPL  20130531   64.6429   65.3000   64.2143   64.2471  13725000
5    AAPL  20160531   99.6000  100.4000   98.8200   99.8600  42307200
2    AAPL  20120731   86.1757   87.3857   86.1029   87.2514  16511600
2    AAPL  20130731   64.9986   65.3343   64.2043   64.6471  11534100
4    AAPL  20140731   97.1600   97.4500   95.3300   95.6000  56842600
5    AAPL  20150731  122.6000  122.6400  120.9100  121.3000  42884900
2    AAPL  20110831   55.7957   56.0114   54.5514   54.9757  18669800
2    AAPL  20120831   95.3214   95.5143   93.8929   95.0343  12082800
5    AAPL  20150831  112.0300  114.5300  112.0000  112.7600  56229200
6    AAPL  20160831  105.6600  106.5700  105.6400  106.1000  29662400
2    AAPL  20111031   57.5200   58.4757   57.2929   57.8257  13772300
2    AAPL  20121031   84.9829   85.9943   83.9571   85.0457  18214300
3    AAPL  20131031   75.0000   75.3557   74.4671   74.6714   9846200
4    AAPL  20141031  108.0100  108.0400  107.2100  108.0000  44639200
5    AAPL  20161031  113.6500  114.2300  113.2000  113.5400  26419300
2    AAPL  20121231   72.8700   76.4857   72.7143   76.0243  23553200
4    AAPL  20131231   79.1671   80.1829   79.1429   80.1457   7974100
4    AAPL  20141231  112.8200  113.1300  110.2100  110.3800  41403300
6    AAPL  20151231  107.0100  107.0300  104.8200  105.2600  40912300

[1524 rows x 7 columns]