S&P500 stock data:
http://pages.swcp.com/stocks/


n = pd.read_csv('http://chart.finance.yahoo.com/table.csv?s=ACIU&a=7&b=9&c=1996&d=10&e=19&f=2016&g=d&ignore=.csv')

http://www.eoddata.com/download.aspx

In [583]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Table
from sqlalchemy import create_engine, inspect
from sqlalchemy import MetaData
from edgerdb import helper_functions as hlp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os


meta = MetaData()

engine = create_engine('postgresql://analyst:@localhost:5432/edgar')

messages = Table('filings', meta, autoload=True, autoload_with=engine)

def sql_to_df(query, connection, *args, **kwargs):
    df = pd.read_sql(query, connection, *args, **kwargs)
    connection.close()
    return df

In [387]:
%matplotlib inline

In [2]:
cik_and_tickers = sql_to_df('select * from temp_cik_to_ticker;', engine.connect()).set_index(keys='index')

In [3]:
cik_and_tickers.head()

,cik,company_name,exchange,isactive,symbol
index,,,,,
0,1591890,"1347 PROPERTY INSURANCE HOLDINGS, INC.",NASDAQ,1,PIH
1,1508475,"21VIANET GROUP, INC.",NASDAQ,1,VNET
2,1459417,"2U, INC.",NASDAQ,1,TWOU
3,1295484,"51JOB, INC.",NASDAQ,1,JOBS
4,1295484,"51JOB, INC.",NASDAQ,1,JOBS

In [4]:
tickers = cik_and_tickers['symbol'].tolist()

In [57]:
import requests
from yahoo_finance import Share
from pprint import pprint

In [58]:
yahoo = Share('YHOO')
print(yahoo.get_open())
print(yahoo.get_price())
pprint(yahoo.get_historical('2014-04-25', '2014-04-29'))

None
41.45
[{'Adj_Close': '35.830002',
  'Close': '35.830002',
  'Date': '2014-04-29',
  'High': '35.889999',
  'Low': '34.119999',
  'Open': '34.369999',
  'Symbol': 'YHOO',
  'Volume': '28736000'},
 {'Adj_Close': '33.990002',
  'Close': '33.990002',
  'Date': '2014-04-28',
  'High': '35.00',
  'Low': '33.650002',
  'Open': '34.669998',
  'Symbol': 'YHOO',
  'Volume': '31019200'},
 {'Adj_Close': '34.48',
  'Close': '34.48',
  'Date': '2014-04-25',
  'High': '35.099998',
  'Low': '34.290001',
  'Open': '35.029999',
  'Symbol': 'YHOO',
  'Volume': '19401600'}]

In [97]:
# Columns will need to be added to top of file after download
sp500 = pd.read_csv('data/sp500hst.txt')

In [99]:
len(sp500['symbol'].unique())

524

In [191]:
tickers[0:10]

['PIH',
 'VNET',
 'TWOU',
 'JOBS',
 'JOBS',
 'CAFD',
 'ABEO',
 'ABEOW',
 'ABIL',
 'ACIU']

In [268]:
r2016 = pd.read_csv('data/5_YEAR_NASDAQ/NASDAQ_20160101.csv')

In [270]:
print(len(r2016['Symbol'].tolist()))
print(len(set(r2016['Symbol'].tolist() + tickers)))

2812
13534

In [577]:
def in_both(first_li, second_li):
    both = []
    for x in second_li:
        if x in first_li:
            both.append(x)
    return both


def find_csv_files_in_dir(directory):
    paths = []
    for subdir, dirs, files in os.walk(directory):
        for file in files:
            filepath = subdir + os.sep + file
            if filepath.endswith(".csv"):
                paths.append(filepath)
    return paths


def concat_eod_data(list_of_paths):
    '''
        This functions takes as input a list of paths to csv files containg eod stock data and join the files
        into a single dataframe.
    '''
    df = pd.DataFrame(columns=['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume'])
    for path in list_of_paths:
        temp_df = pd.read_csv(path, index_col='Date',
                             parse_dates=True)
        df = pd.concat([df, temp_df])
    return df

In [578]:
months = {'Jan': '01', 
          'Feb': '02', 
          'Mar': '03', 
          'Apr': '04', 
          'May': '05', 
          'Jun': '06',
          'Jul': '07',
          'Aug': '08', 
          'Sep': '09', 
          'Oct': '10',
          'Nov': '11', 
          'Dec': '12'}

five_year_nasdaq_files = find_csv_files_in_dir('data/5_YEAR_NASDAQ')
five_year_nasdaq_df = concat_eod_data(five_year_nasdaq_files)
#five_year_nasdaq_df['Date'] = five_year_nasdaq_df['Date'].apply(lambda x: x.replace(x[3:6], months[x[3:6]]))
#five_year_nasdaq_df['Date'] = five_year_nasdaq_df['Date'].apply(lambda x: x.split('-')[2] + x.split('-')[1] + x.split('-')[0])

In [551]:
five_year_nasdaq_df[five_year_nasdaq_df['Symbol'] == 'AAPL'].sort_values(by=['Date'], ascending=False).head()

  Symbol      Date    Open    High     Low   Close    Volume
6   AAPL  20161103  110.98  111.46  109.55  109.83  26120400
4   AAPL  20161102  111.40  112.35  111.23  111.59  28331700
5   AAPL  20161101  113.46  113.77  110.53  111.49  43825800
5   AAPL  20161031  113.65  114.23  113.20  113.54  26419300
5   AAPL  20161028  113.87  115.21  113.45  113.72  37861600

In [ ]:
tickers_in_df = five_year_nasdaq_df['Symbol'].unique().tolist()
tickers_in_both = in_both(tickers_in_df, tickers)
tickers_cik_in_both = cik_and_tickers[cik_and_tickers['symbol'].isin(tickers_in_both)]

In [356]:
filings = sql_to_df('select * from filings where cik in {};'.format(tuple(tickers_cik_in_both['cik'])), engine.connect())

In [358]:
len(filings)

1297972

In [ ]:
tickers_cik = pd.DataFrame(tickers_cik_in_both, columns=['cik', 'symbol'])
symbol_to_filings = pd.merge(left=filings, right=tickers_cik[tickers_cik['cik'].isin(
            tickers_cik['cik'].unique())], left_on='cik', right_on='cik')
symbol_to_filings = pd.DataFrame(symbol_to_filings, columns=['cik', 'symbol', 'company_name', 'type', 'date', 'path'])

In [389]:
symbol_to_filings.head()

,cik,symbol,company_name,type,date,path
0,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,20-F,20081212,edgar/data/1357450/0001204459-08-002410.txt
1,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,424B4,20070814,edgar/data/1357450/0001144204-07-042666.txt
2,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,425,20060403,edgar/data/1357450/0001144204-06-013505.txt
3,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,6-K,20080129,edgar/data/1357450/0001144204-08-004735.txt
4,1357450,HOLI,HLS SYSTEMS INTERNATIONAL LTD,6-K,20080220,edgar/data/1357450/0001144204-08-010616.txt

In [ ]:
def symbol_to_path(symbol, base_dir="data"):
    """Return CSV file path given ticker symbol."""
    return os.path.join(base_dir, "{}.csv".format(str(symbol)))


def get_data(symbols, dates):
    """Read stock data (adjusted close) for given symbols from CSV files."""
    df = pd.DataFrame(index=dates)
    if 'SPY' not in symbols:  # add SPY for reference, if absent
        symbols.insert(0, 'SPY')
    count = 0
    for symbol in symbols:
        # TODO: Read and join data for each symbol
        path = symbol_to_path(symbol)
        temp_df = pd.read_csv(path, index_col='Date', 
                             parse_dates=True, usecols=['Date', 'Adj Close'], na_values=['nan'])
        temp_df = temp_df.rename(columns={'Adj Close': symbol})
        df = df.join(temp_df)
        if symbol == 'SPY':
            df = df.dropna()
    return df


def test_run():
    # Read data
    dates = pd.date_range('2012-01-01', '2012-12-31')
    symbols = ['SPY']
    df = get_data(symbols, dates)
    
    # Plot SPY data, retain matplotlib axis object
    ax = df['SPY'].plot(title='SPY rolling mean', label='SPY')
    
    # Compute the rolling mean using a 20 day window
    rm_SPY = pd.rolling_mean(df['SPY'], window=20)
    
    # Add rolling mean to same plot
    rm_SPY.plot(label='Rolling mean', ax=ax)
    
    # Add axis labels and legend
    ax.set_xlabel('Date')
    ax.set_ylabel('Price')
    ax.legend(loc='upper left')
    plt.show()
    
    
    
if __name__ == "__main__":
    test_run()

In [571]:
#pd.read_csv('data/5_YEAR_NASDAQ/NASDAQ_2011/NASDAQ_20110103.csv', parse_dates=True)

temp_df = pd.read_csv('data/5_YEAR_NASDAQ/NASDAQ_2011/NASDAQ_20110103.csv', index_col='Date', 
                             parse_dates=True)#, usecols=['Date', 'Close'], na_values=['nan'])

In [579]:
temp_fil = pd.DataFrame(filings)

In [586]:
#ht = sql_to_df('select * from temp_table;', engine.connect(), index_col='date')

In [588]:

daily_files = hlp.generate_daily_file_paths()

last_date_in_db = int(hlp.latest_index_in_db('filings', hlp.db())[0])

In [ ]:
hlp.load_latest_files(daily_files, last_date=last_date_in_db)

Latest File in DB: 20161104
edgar/daily-index/master.20161003.idx already loaded
edgar/daily-index/master.20161004.idx already loaded
edgar/daily-index/master.20161005.idx already loaded
edgar/daily-index/master.20161006.idx already loaded
edgar/daily-index/master.20161007.idx already loaded
edgar/daily-index/master.20161011.idx already loaded
edgar/daily-index/master.20161012.idx already loaded
edgar/daily-index/master.20161013.idx already loaded
edgar/daily-index/master.20161014.idx already loaded
edgar/daily-index/master.20161017.idx already loaded
edgar/daily-index/master.20161018.idx already loaded
edgar/daily-index/master.20161019.idx already loaded
edgar/daily-index/master.20161020.idx already loaded
edgar/daily-index/master.20161021.idx already loaded
edgar/daily-index/master.20161024.idx already loaded
edgar/daily-index/master.20161025.idx already loaded
edgar/daily-index/master.20161026.idx already loaded
edgar/daily-index/master.20161027.idx already loaded
edgar/daily-index/master.20161028.idx already loaded
edgar/daily-index/master.20161031.idx already loaded
edgar/daily-index/master.20161101.idx already loaded
edgar/daily-index/master.20161102.idx already loaded
edgar/daily-index/master.20161103.idx already loaded
edgar/daily-index/master.20161104.idx already loaded
Successful binary retrieveal on try # 1 for edgar/daily-index/master.20161107.idx
INSERT 0 1
Successful binary retrieveal on try # 1 for edgar/daily-index/master.20161108.idx
INSERT 0 1

In [595]:
last_date_in_db = 20161104