<h1>SEC Filing Analyzer</h1>

http://www.quantshare.com/sa-426-6-ways-to-download-free-intraday-and-tick-data-for-the-us-stock-market



Google Finance

Format: http://www.google.com/finance/getprices?i=[PERIOD]&p=[DAYS]d&f=d,o,h,l,c,v&df=cpct&q=[TICKER]

Yahoo Finance

Format: http://chartapi.finance.yahoo.com/instrument/1.0/[TICKER]/chartdata;type=quote;range=1d/csv

NASDAQ 10 Year historic data
http://www.nasdaq.com/symbol/apll/historical


CSI End of Day Company Ticker Symbols
http://www.csidata.com/factsheets.php?type=stock&format=html

CSI End of data csv format:
http://www.csidata.com/factsheets.php?type=stock&format=csv

Implementation of a securities database:
https://github.com/davidkellis/securitiesdb

<h3>Add Postgres Trigger Functions to Update Each Dependant Table</h3>

http://stackoverflow.com/questions/12343984/insert-trigger-to-update-another-table-using-postgresql

In [2]:
from edgerdb import helper_functions as hlp
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from fuzzywuzzy import fuzz, process

In [3]:
curl_mobile_browser = """curl -A "Mozilla/5.0 (iPhone; U; CPU iPhone OS 4_3_3 like Mac OS X; en-us) 
AppleWebKit/533.17.9 (KHTML, like Gecko) Version/5.0.2 Mobile/8J2 Safari/6533.18.5" 
http://finance.yahoo.com/webservice/v1/symbols/YHOO,AAPL/quote?format=json&view=detail"""

The below two cells will update the database with the latest index files

In [4]:
# Uncommon the below three rows to run a query that will take a long time to run

#last = int(hlp.latest_index_in_db('filings', hlp.db())[0])
#daily_files = hlp.generate_daily_file_paths()

In [5]:
#hlp.load_latest_files(daily_files, last_date=last)

In [6]:
# This file updates daily and changes will need to be added daily as well
csi_stock_data = pd.read_csv('http://www.csidata.com/factsheets.php?type=stock&format=csv')

In [7]:
csi_stock_data.columns = map(str.lower, csi_stock_data.columns)
csi_stock_data = csi_stock_data.rename(columns={'name': 'company_name'})
csi_stock_data['company_name'] = csi_stock_data['company_name'].str.upper()
csi_stock_data['company_name'] = csi_stock_data['company_name'].str.strip()
csi_stock_data = csi_stock_data.fillna(value="NONE")
csi_stock_data.head()

,csinumber,symbol,company_name,exchange,isactive,startdate,enddate,conversionfactor,switchcfdate,preswitchcf,subexchange
0,1001,DPS,DR PEPPER/7UP,NYSE,0,1993-01-27,1995-06-06,-4,NONE,NONE,NONE
1,1002,PTB,PARAGON TRADE BRANDS INC,NYSE,0,1993-01-27,1999-07-07,-4,NONE,NONE,NONE
2,1003,WLP,WELLPOINT HEALTH NETWORKS INC,NYSE,0,1993-01-28,2004-12-02,2,2001-01-29,-4,NONE
3,1004,ARN,AMERICAN RE CORP,NYSE,0,1993-01-29,1996-11-25,-4,NONE,NONE,NONE
4,1005,BWS,BETA WELL SERVICES,AMEX,0,1993-02-01,1994-11-30,-4,NONE,NONE,NONE

<h3>The Below 3 Cells Use SQLAlchemy and Pandas to create a table based on the above datafram</h3>

In [8]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Table
from sqlalchemy import create_engine, inspect
from sqlalchemy import MetaData


meta = MetaData()

engine = create_engine('postgresql://analyst:@localhost:5432/test')

messages = Table('filings', meta, autoload=True, autoload_with=engine)

def sql_to_df(query, connection):
    df = pd.read_sql(query, connection)
    connection.close()
    return df

In [9]:
conn = engine.connect()
conn.close()

In [10]:
def create_csi_data_table(engine):
    '''
    Creates a table with the data from csidata.com
    '''
    conn = engine.connect()
    csi_stock_data = pd.read_csv('http://www.csidata.com/factsheets.php?type=stock&format=csv')
    csi_stock_data.columns = map(str.lower, csi_stock_data.columns)
    csi_stock_data = csi_stock_data.rename(columns={'name': 'company_name'})
    csi_stock_data['company_name'] = csi_stock_data['company_name'].str.upper()
    csi_stock_data['company_name'] = csi_stock_data['company_name'].str.strip()
    csi_stock_data = csi_stock_data.fillna(value="NONE")
    csi_stock_data.to_sql('csi_stock_data', engine)
    conn.close()

<h3>The below cell uses the newly created table above to create a new table mapping cik to cis data</h3>

In [11]:
'''
# Below is a query to assosiate the ticker symbol to the cik number
join_ticker_to_cik = """select * into cik_to_csi from (select fil.cik, fil.company_name, 
                            csi.symbol, csi.exchange, 
                            csi.isactive, csi.startdate, csi.enddate 
                            from filings fil
                            join csi_stock_data csi on fil.company_name = csi.company_name) as foo;"""



# Use This cell to create a table that maps to cik to ticker symbols
hlp.clear_sessions('edgar', hlp.db())
hlp.statement(join_ticker_to_cik, hlp.db(), output=False, commit=True)
'''

'\n# Below is a query to assosiate the ticker symbol to the cik number\njoin_ticker_to_cik = """select * into cik_to_csi from (select fil.cik, fil.company_name, \n                            csi.symbol, csi.exchange, \n                            csi.isactive, csi.startdate, csi.enddate \n                            from filings fil\n                            join csi_stock_data csi on fil.company_name = csi.company_name) as foo;"""\n\n\n\n# Use This cell to create a table that maps to cik to ticker symbols\nhlp.clear_sessions(\'edgar\', hlp.db())\nhlp.statement(join_ticker_to_cik, hlp.db(), output=False, commit=True)\n'

In [12]:
def create_table_with_cik_and_csi_data():
    '''
        Creates a table called cik_to_csi by joining filings and csi_stock_data tables on company_name
    '''
    join_ticker_to_cik = """select * into temp_cik_to_csi from (select fil.cik, fil.company_name,
                            csi.symbol, csi.exchange,
                            csi.isactive, csi.startdate, csi.enddate
                            from filings fil
                            join csi_stock_data csi on fil.company_name = csi.company_name) as foo;"""
    clean_ticker_to_cik_table = """select * into cik_to_csi
    from (select distinct cik, c.company_name, c.symbol, c.exchange, c.isactive, c.startdate, c.enddate  from temp_cik_to_csi c) as foo;"""
    hlp.clear_sessions('edgar', hlp.db())
    hlp.statement(join_ticker_to_cik, hlp.db(), output=False, commit=True)
    hlp.statement(clean_ticker_to_cik_table, hlp.db(), output=False, commit=True)
    hlp.statement("drop table temp_cik_to_csi;", hlp.db(), output=False, commit=True)

In [13]:
filings_data = pd.read_sql_query('select * from filings;', con=engine)
temp_csi_data = pd.read_sql_query('select * from csi_stock_data;', index_col='index',con=engine)
temp_csi_data = temp_csi_data.rename(columns={'name': 'company_name'})
filings_data = filings_data.rename(columns={'company': 'company_name'})
csi_data = pd.DataFrame(csi_stock_data, columns=['csinumber', 'symbol', 'company_name', 'exchange', 'isactive', 'startdate', 'enddate'])
csi_data = csi_data.dropna()
csi_data.head()

,csinumber,symbol,company_name,exchange,isactive,startdate,enddate
0,1001,DPS,DR PEPPER/7UP,NYSE,0,1993-01-27,1995-06-06
1,1002,PTB,PARAGON TRADE BRANDS INC,NYSE,0,1993-01-27,1999-07-07
2,1003,WLP,WELLPOINT HEALTH NETWORKS INC,NYSE,0,1993-01-28,2004-12-02
3,1004,ARN,AMERICAN RE CORP,NYSE,0,1993-01-29,1996-11-25
4,1005,BWS,BETA WELL SERVICES,AMEX,0,1993-02-01,1994-11-30

In [14]:
csi_data[csi_data['company_name'].str.contains('EQUITY')].head()

,csinumber,symbol,company_name,exchange,isactive,startdate,enddate
11,1012,ELS,EQUITY LIFESTYLE PROPERTIES INC,NYSE,1,1993-02-25,2016-10-28
89,1090,EQR,EQUITY RESIDENTIAL,NYSE,1,1993-08-12,2016-10-28
254,1255,TYW,TAIWAN EQUITY FUND,NYSE,0,1994-07-19,2000-05-05
273,1274,KEF,KOREA EQUITY FUND INC,NYSE,1,1994-09-19,2016-10-28
411,1412,EQU,EQUITY CP INTL,NYSE,0,1994-10-19,1999-01-19

In [19]:
#new_df = csi_data.join(filings_data, on='company_name', how='inner')

In [15]:
engine = create_engine('postgresql://analyst:@localhost:5432/edgar')

conn = engine.connect()

cik_to_csi_df = pd.read_sql_table('cik_to_csi', conn)
conn.close()

In [16]:
# Equivelent of sql where clause
cik_to_csi_df[cik_to_csi_df['cik']  == '1000045']

,cik,company_name,symbol,exchange,isactive,startdate,enddate
1,1000045,NICHOLAS FINANCIAL INC,NICK,NASDAQ,1,1997-12-29,2016-10-19
2,1000045,NICHOLAS FINANCIAL INC,NICU,VSE,0,1996-08-08,1998-03-11

In [ ]:
# What you need to do is figure out which stocks are in the csi data but did not map to a company name from the sec
# Some of the names may have been entered different
# Natural language processing may help

In [17]:
def sql_to_df(query, connection):
    df = pd.read_sql(query, connection)
    connection.close()
    return df

In [18]:
cik_to_csi_symbols = sql_to_df("select symbol from cik_to_csi;", engine.connect())['symbol'].values.tolist()

In [19]:
# Create a table to 
csi_stock_data_not_found_in_filings = sql_to_df("""select distinct symbol, 
                                company_name, exchange, isactive, 
                                startdate, enddate 
                                from csi_stock_data where symbol not in {};""".format(tuple(cik_to_csi_symbols)), 
                           engine.connect())

In [20]:
# Creates a table of the unmatching companies
#csi_stock_data_not_found_in_filings.to_sql('unmatching_csi_data', engine)

In [21]:
csi_stock_data = sql_to_df("select * from cik_to_csi;", engine.connect())

In [22]:
csi_stock_data.head()

,cik,company_name,symbol,exchange,isactive,startdate,enddate
0,1000015,META GROUP INC,METG,NASDAQ,0,1995-12-01,2005-03-31
1,1000045,NICHOLAS FINANCIAL INC,NICK,NASDAQ,1,1997-12-29,2016-10-19
2,1000045,NICHOLAS FINANCIAL INC,NICU,VSE,0,1996-08-08,1998-03-11
3,1000048,TECHNOLOGY FLAVORS & FRAGRANCES INC,TFF,AMEX,0,1999-07-12,2005-06-28
4,1000048,TECHNOLOGY FLAVORS & FRAGRANCES INC,TFF,TSX,0,1996-08-13,2002-11-15

In [23]:
csi_stock_data_not_found_in_filings.head()

,symbol,company_name,exchange,isactive,startdate,enddate
0,&AGIN,AGI NORTH AMERICA,INDEX,0,2007-06-27,2013-03-21
1,&AGIZL,ARDOUR GLOBAL INDEX EXTRA LIQUID,INDEX,1,2007-06-27,2016-10-19
2,&CRSPSCT,CRSP US SMALL CAP TR INDEX,INDEX,1,2015-10-23,2016-10-19
3,&GSM,S&P GSTI SEMICONDUCTOR INDEX,INDEX,1,1996-07-08,2016-03-04
4,&GSO,S&P GSTI SOFTWARE INDEX,INDEX,1,1996-07-08,2016-10-19

In [466]:
filings_df = sql_to_df("select distinct company_name, cik from filings;", engine.connect())
filings_df['company_name'] = filings_df['company_name'].str.upper()
filings_df = filings_df[filings_df['company_name'] != ""]

In [45]:
%%time


def return_matches(first_li, second_li):
    return set(first_li) & set(second_li)


def remove_ending(company_name, ending):
    """
        Provide a company name and the phrase you are looking to end at.
    """
    a, b, c = company_name.partition(ending)
    return a + b


def normalized_company_namelist(df):
    company_names = {}
    common_phrases = ['GROUP', 'INC', 'CORP', 'FUND', 'INTERNATIONAL']
    for x in range(len(df['company_name'])):
        name = df['company_name'][x]
        for word in common_phrases:
            if word in name:
                no_inc = remove_ending(name, word)
                company_names[no_inc] = name
    return company_names


def insert(df, entries):
    """
        Takes a set of values and inserts them into a dataframe sequentially where the index is
        sequential and continuous.
    """
    try:
        df.loc[max(df.index) + 1] = entries
    except ValueError:
        df.loc[0] = entries
        
        
def shorten_to_match(dic, matches):
    new_dict = dic.copy()
    for key in dic.keys():
        if key not in matches:
            new_dict.pop(key)
    return new_dict
    

def matches_to_frame():
    normalized_csi = normalized_company_namelist(csi_stock_data_not_found_in_filings)
    normalized_filings = normalized_company_namelist(filings_df)
    new_matches = return_matches(list(normalized_csi.keys()), list(normalized_filing_names.keys()))
    matched_csi = shorten_to_match(normalized_csi, new_matches)
    matched_filings = shorten_to_match(normalized_filings, new_matches)
    
    new_matches_df = pd.DataFrame(columns=['filings_name', 'csi_name', 'match'])
    
    for val in new_matches:
        insert(new_matches_df, [matched_filings[val], matched_csi[val], val])
        
    new_matches_df.head()
    
    return new_matches_df

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 7.87 µs

<p>For the most part this method seems to return accurate results.  This dataframe can be used to optain the matching CIK using the filings_name and the ticker symbol using the csi_name.  To make this more accurate a function can be implemented that creates a new column with a correct percentage of matching strings in the first two columns as in the match column. This can be accomplished by iterating over each row in the dataframe using df.iterrows()</p>

<pre>
    # Add column example
    
    df = pd.DataFrame(columns=['col1', 'col2'])
    
    # This creates a dataframe with two columns
    # to add a third columns imply use:
    
    df['col3'] = 'NaN'
    
    # This will create the third column and initialize it with the NaN value.
    # The new column can be initialized with any value you want
   

</pre>

In [447]:
%%time
new_matches_df = matches_to_frame()

In [468]:
new_matches_df.sort(columns=['filings_name']).head()

/Users/lancerogers/Developer/Python/algo_analysis/.direnv/python-3.5.1/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,filings_name,csi_name,match
947,10 GROUP PLC/ADR,10 GROUP GB,10 GROUP
2713,121MEDIA INC,121MEDIA INC US,121MEDIA INC
1344,1ST CONSTITUTION BANCORP,1ST CONSTITUTION BANCORP (NJ),1ST CONSTITUTION BANCORP
1784,2 I INC/,2 I INC,2 I INC
1863,360NETWORKS INC,360NETWORKS INC SUB VTG SHS,360NETWORKS INC

In [526]:

merged_filings = pd.merge(left=new_matches_df, right=filings_df, right_on='company_name', left_on='filings_name')
merged_filings = pd.DataFrame(merged_filings, columns=['filings_name', 'csi_name', 'match', 'cik'])
merged_ticker = pd.merge(left= merged_filings, right=csi_stock_data_not_found_in_filings, right_on='company_name', left_on='csi_name')
merged_ticker =  pd.DataFrame(merged_ticker, columns=['filings_name', 'csi_name', 'match','percent_match', 'cik', 'symbol'])

def update_percent_match(merged_ticker_df):
    merged_ticker = merged_ticker_df.copy()
    for x in range(len(merged_ticker)):
        merged_ticker.loc[x]['percent_match'] = fuzz.ratio(merged_ticker.loc[x]['filings_name'], merged_ticker.loc[x]['csi_name'])
        
    return merged_ticker_df

In [ ]:
mt = update_percent_match(merged_ticker)

In [34]:
#companies_in_filings
#no_match_csi_companies

In [25]:
def hash_list(li):
    dic = {}
    for x in li:
        dic[x] = x.split(" ")
    return dic

In [26]:
hashed_comp_fil = hash_list(companies_in_filings)
hashed_no_match = hash_list(no_match_csi_companies)

In [34]:
keys_no_match = list(hashed_no_match.keys())
keys_comp_fil = list(hashed_comp_fil.keys())

In [40]:
hashed_no_match[keys_no_match[0]]

['MUNDER', 'FUTURE', 'TECH', 'CL', 'Y']

In [324]:
# The goal here is to write an algorithm that will find keys that mostly match in both list

def return_matches(first_li, second_li):
    return set(first_li) & set(second_li)

def insert(df, entries):
    """
        Takes a set of values and inserts them into a dataframe sequentially where the index is
        sequential and continuous.
    """
    try:
        df.loc[max(df.index) + 1] = entries
    except ValueError:
        df.loc[0] = entries
        
def check_for_matching_phrases(df, dict1, dict2):
    '''
        This function takes in two dictionaries and checks which keys contain similar values. 
        The match percentage is found by dividing the length of the minimum set of values by 
        the matches. Always put the largest dictionary first.
    '''
    #df = pd.DataFrame(columns=['filings_name', 'no_match_name', 'percent_match'])
    for key1, value1 in dict1.items():
        for key2, value2 in dict2.items():
            matches = len(return_matches(value1, value2))
            denominator = len(max(value1, value2))
            perc_match = matches / denominator
            if perc_match >= 0.51:
                insert(df, [key1, key2, perc_match])
    return df

In [385]:
%%time
# This ran for 8 hours and was only half way finished with 343324 rows in the dataframe
#df = pd.DataFrame(columns=['filings_name', 'no_match_name', 'percent_match'])
#matching_phrases = check_for_matching_phrases(df, hashed_comp_fil, hashed_no_match)

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.96 µs

In [342]:
len(df)

343324

In [384]:
#df[df['percent_match'] > .9]

In [549]:
import pyximport; pyximport.install()
pyximport.install(pyimport = True)

(None, None)

In [360]:
from CheckMatches import check_matches as cm

In [386]:
%%time
# This should be importing everything in as Cython now

df = pd.DataFrame(columns=['filings_name', 'no_match_name', 'percent_match'])
matching_phrases = cm.check_for_matching_phrases(df, hashed_comp_fil, hashed_no_match)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.15 µs

In [387]:
len(df)

262

<h2>Look into difflib from the standard library and possibly fuzzywuzzy to look for similar names</h2>

<a href='http://stackoverflow.com/questions/10383044/fuzzy-string-comparison'>Stack Overflow Answer</a>

<a href='https://en.wikipedia.org/wiki/Approximate_string_matching'>Aproximate String Algorithms</a>